.body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.nav {
    background-color: #343a40; /* Azul acinzentado escuro */
    overflow: hidden;
    text-align: left;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px; /* Adicionado para separar do canto superior */
}

.nav a {
    display: inline-block;
    color: #fff; /* Texto branco */
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #495057; /* Azul acinzentado mais escuro ao passar o mouse */
    color: #fff;
}


.h2 {
    color: #333;
    margin-bottom: 20px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}